@model MechanicShopApp.ViewModel.BookAppointmentViewModel


@{
    ViewBag.Title = "Create";
    Layout = "~/Views/_LayoutPage1.cshtml";
}


<section class="w3l-about-breadcrumb">
    <div class="breadcrumb-bg breadcrumb-bg-about py-5">
        <div class="container py-lg-5 py-md-3">
            <h2 class="title">Book Appointment</h2>
        </div>
    </div>
</section>
<section class="w3l-breadcrumb">
    <div class="container">
        <ul class="breadcrumbs-custom-path">
            <li><a href="#url">Home</a></li>
            <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> Book Appointment</li>
        </ul>
    </div>
</section>

<!-- contacts -->
<section class="w3l-contact-7 py-5">
    <div class="contacts-9 py-lg-5 py-md-4">
        <div class="container">
            <div class="top-map">
                <div class="row map-content-9">
                    <div class="col-lg-8">
                        <h3 class="title-big">Book Appointment</h3>

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">

                                <hr />
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.LabelFor(model => model.BookAppointment.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.BookAppointment.Name, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.BookAppointment.Name, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.BookAppointment.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.BookAppointment.Email, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.BookAppointment.Email, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.BookAppointment.PhoneNo, htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.BookAppointment.PhoneNo, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.BookAppointment.PhoneNo, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">


                                    @Html.LabelFor(model => model.BookAppointment.ServiceId, "Service", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.DropDownListFor(model => model.BookAppointment.ServiceId,
                                       new SelectList(Model.Services, "Id", "Name"), "---Select Service---",
                                       new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.BookAppointment.ServiceId, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.BookAppointment.Message, "Description", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.TextAreaFor(model => model.BookAppointment.Message, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.BookAppointment.Message, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Book Me" class="btn btn-success" />
                                    </div>
                                </div>
                            </div>
                            
                        }

                        
                    </div>

                    <div class="col-lg-4 cont-details">
                        <address>
                            <p>For more info or inquiry about our services, please feel free to get in touch with us.</p>
                            <h5 class="mt-md-5 mt-4">Lagos Office</h5>
                            <p>
                                <span class="fa fa-map-marker"></span>KM23 Ebutu Lekki-Epe Express Way,Lagos, Lagos State.
                            </p>
                            <p>
                                <a href="mailto:testapp2218@gmail.com">
                                    <span class="fa fa-envelope"></span>testapp2218@gmail.com
                                </a>
                            </p>
                            
                            <p>
                                <span class="fa fa-phone"></span><a href="tel:+(234) 803 598 5920">
                                    +(234) 803 598 5920
                                </a>
                            </p>
                            <h5 class="mt-4 mb-3"> Follow us on social media</h5>
                            <div class="main-social-footer-29">
                                <a href="#facebook" class="facebook"><span class="fa fa-facebook"></span></a>
                                <a href="#twitter" class="twitter"><span class="fa fa-twitter"></span></a>
                                <a href="#instagram" class="instagram"><span class="fa fa-instagram"></span></a>
                                <a href="#linkedin" class="linkedin"><span class="fa fa-linkedin"></span></a>
                            </div>
                        </address>
                    </div>
                </div>
             </div>
        </div>
    </div>
</section>
<!-- //contacts -->
